* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

#inicio h1{
    border-radius: 40px;
    background-color: rgb(83, 22, 139);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: fit-content; 
}

h1{
    color: #000000;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    h1 {
      font-size: 15px;
    }
  }

header {
    background-color: rgb(83, 22, 139);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
  
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    color: #fff;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }

  .logo {
    color: white;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
  
  
  .hamburger {
    color: #fff;
    display: none;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
    }
  
    ul {
      display: none;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    li {
      margin: 10px 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      margin-right: 20px;
    }
  
    .hamburger span {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px 0;
      background-color: #fff;
    }
  }

  nav img {
    height: 4rem;
  }
  
nav ul li a:hover {
    border-bottom: 2px solid plum; /* Agrega un borde inferior al pasar el cursor */
}

nav ul li a:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra al pasar el cursor */
}

.menu {
    transition: transform 0.3s ease-in-out;
  }
  
  .menu.show {
    transform: translateY(0);
  }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    margin: 50px 0;
}

section:first-child img {
    width: 100%;
    max-width: 800px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Establece la altura automática para mantener la proporción */
  }



  section:not(:first-child) img {
    max-width: 100%;
    height: auto;
    width: 700px;
    max-width: 100%;
  }
  

.columna {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

#volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgb(83, 22, 139);
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.secciones{
    background-color: #e1bfe6;
}

footer {
    background-color:rgb(83, 22, 139);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer p {
margin: 0;
padding: 10px;
}

footer img{
    width: 30px;
    
}

/* Media queries para hacer la página responsiva */

@media (max-width: 768px) {
nav ul {
flex-direction: column;
align-items: center;
} 


nav li {
    margin: 10px 0;
}

#volver-arriba {
    font-size: 16px;
}

.columna img {
    width: 100%;
}
}

@media (max-width: 480px) {
.columna img {
height: auto;
}
}