* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

h1{
    border-radius: 40px;
    background-color: rgb(83, 22, 139);
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}

header {
    background-color: rgb(83, 22, 139);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
  
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #ffff;
  }

  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    nav ul {
      display: none;
    }
  
    nav li {
      display: block;
      text-align: center;
      margin: 0;
    }
  
    nav li a {
      display: block;
      border-bottom: 1px solid #ddd;
      margin: 0;
    }
  
    /* Mostrar el botón del menú hamburguesa */
    .menu-toggle {
      display: block;
      background-color: #f2f2f2;
      padding: 10px;
      text-align: right;
    }
  }
  
  /* Reglas de estilo para el logo */
  nav img {
    height: 50px;
    margin-right: 20px;
  }

nav ul li a:hover {
    border-bottom: 2px solid plum; /* Agrega un borde inferior al pasar el cursor */
}

nav ul li a:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega una sombra al pasar el cursor */
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    margin: 50px 0;
}

section:first-child img {
    width: 100%;
    max-width: 800px; /* Establece un ancho máximo para la imagen */
    height: auto; /* Establece la altura automática para mantener la proporción */
  }



  section:not(:first-child) img {
    max-width: 100%;
    height: auto;
    width: 700px;
    max-width: 100%;
  }
  

.columna {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columna img {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
}

#volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgb(83, 22, 139);
    border-radius: 30px;
    padding: 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer p {
margin: 0;
padding: 10px;
}

/* Media queries para hacer la página responsiva */

@media (max-width: 768px) {
nav ul {
flex-direction: column;
align-items: center;
} 


nav li {
    margin: 10px 0;
}

#volver-arriba {
    font-size: 16px;
}

.columna img {
    width: 100%;
}
}

@media (max-width: 480px) {
.columna img {
height: auto;
}
}